$foreground-color: #575279;
$foreground-color-light: #807C99;
$significant-color-first: #cd7c7d;
$significant-color-second: #56949F;
$significant-color-third: #B4637A;
$background-color-primary: #EEE6DD;
$background-color-secondary: #DDD0C6;
$border-color: #D1C9C2;
$background-focus-line: #E3DAD3;

$context-menu-background: #E6DBD1;
$context-menu-item-hover: #DBD1CA;


$gray-1: #8B8B8B;
$gray-2: #999999;
$gray-3: #E5E5E5;
$gray-4: #696969;
$gray-5: #202020;